body {
    font-family: 'Actor', sans-serif;
    background-color: white;
    font-size: 18px;
    position: relative;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

#hero {
    max-width: 1000px;
    max-height: 300px;
}

.wave-top {
    display: block;
}

.wordpress {
    color: #504E4E;
}

.stack-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.stack-menu-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-inline-end: 20px;
}

@media only screen and (max-width: 768px) {
    .stack-menu {
        flex-direction: row;
        position: sticky;
        margin-top: 20px;
    }
}