body {
    font-family: 'Actor', sans-serif;
    background-color: #F2F2F2;
    font-size: 18px;
    position: relative;
    color: #143540;
}

.logo {
    max-width: 125px;
    max-height: 125px;
}

#hero {
    max-width: 1000px;
    max-height: 300px;
}

.wave-top {
    display: block;
}

.wordpress {
    color: #504E4E;
}

.stack-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.stack-menu-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-inline-end: 20px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .stack-menu, .side-menu {
        flex-direction: row;
        position: sticky;
        margin-top: 20px;
    }
}

.card {
    width: 350px;
}

h1, h3, h5 {
    color: #286A80;
}

h2, h4, h6 {
    color: #47BEE6;
}

a:link, a:visited {
    color: #143540;
}

a:hover, a:active {
    color: #47BEE6;
}

.btn {
    max-width: 100px;
}